<!-- edit_task.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Редактировать задачу</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var imageContainer = $('#image-container');
            var imageInput = $('#image_base64');

            $(document).on('paste', function(event) {
                var items = (event.originalEvent || event).clipboardData.items;
                for (var i = 0; i < items.length; i++) {
                    var item = items[i];
                    if (item.type.indexOf('image') !== -1) {
                        var file = item.getAsFile();
                        var reader = new FileReader();
                        reader.onload = function(event) {
                            var imageUrl = event.target.result;
                            var imgElement = $('<img>').attr('src', imageUrl);
                            imageContainer.append(imgElement);
                            imageInput.val(imageUrl);
                        };
                        reader.readAsDataURL(file);
                    }
                }
            });
        });
    </script>
</head>
<body>
    <h1><a href="{% url 'index_list' %}">←</a></h1>
    <h1>Редактировать задачу</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" id="image_base64" name="image_base64">
        <button type="submit">Сохранить</button>
    </form>

    <hr>
    <h2>Картинки</h2>
    <div id="image-container">
        {% for image in task.images.all %}
            <p><img src="{{ image.file.url }}" alt="Картинка"><br><a href="{% url 'delete_image' image_id=image.id %}">Удалить</a></p>

        {% endfor %}
    </div>
</body>
</html>