<!DOCTYPE html>
<html>
<head>
    <title>Список задач</title>
</head>
<body>
    <h1>Список задач</h1>
    <ul>
        <li><a href="{% url 'create_task' %}">Создать задачу</a></li>
    </ul>
    {% for status, tasks in tasks_by_status.items %}
        <h2>{{ status.name }}</h2>
        <ul>
            {% for task in tasks %}
                <li><a href="{% url 'edit_task' task.id %}">{{ task.name }}</a></li>
            {% empty %}
                <li>Нет задач</li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>